
/* 悬浮球*/
  .drag-ball {
      width: 60px;
      height: 60px;
      position: fixed;
      z-index: 99999;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: #3FAAF5;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,.4), inset 0px 0px 15px 0px #3FAAF5;
      border: solid 1px #50bfff;
      background-size: 100% 100%;
      overflow: hidden;
  }
  .drag-ball:hover{
      background-color: #3FAAF5;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5), inset 0px 0px 15px 0px #3FAAF5;
  }

.no-copy {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
